body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 50px;
}

h2 span {
  color: blueviolet;
}

.flexible-container {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 100px;
  margin-bottom: 100px;
}

.half-width img {
  height: 500px;
}

.dream-big.half-width img {
  width: 50%;
}

.link-button {
  text-decoration: none;
  background: linear-gradient(#7d97cd, #a496dc);
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: bold;
}

.top-banner {
  background-image: url(img/developer.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.dream-big {
  background-image: url(img/Purple_circle_full.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-area {
  background-image: url(img/Purple_circle_full.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.box-shadow h2 {
  font-size: 40px;
}

.box-shadow h3 {
  color: #7d97cd;
}

.box-shadow {
  box-shadow: 10px 10px 40px gray;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 100px;
}

#br-left-orange {
  border-left: 10px solid orange;
}

#br-left-blue {
  border-left: 10px solid #7d97cd;
}

footer p {
  text-align: center;
}